@import './vars.scss';

.YoloSlide {
  background: $bg-gray;
  min-height: 100vh;

  > .container {
    display: flex;
    justify-content: space-between;
  }
}

.YoloSlide-items-container {
  width: 25%;
  margin-right: 10%;
  padding: 50vh 0;
}

.YoloSlide-img {
  width: 60%;
  padding: 40vh 0;
}

.YoloSlide-item {

  & + .YoloSlide-item {
    margin-top: 350px;
  }

  h3 {
    font-size: 2rem;
    line-height: 1.5em;
    color: rgb(34, 34, 34);
  }
}
